In [1]:
from perseuspy import pd

In [2]:
import opendvp

In [3]:
adata = opendvp.io.import_perseus(
    path_to_perseus_txt="test_data/io/Perseus_v1.6.15.0.txt",
    n_var_metadata_rows=5
)

10:58:40.67 | INFO | Reading Perseus file from: test_data/io/Perseus_v1.6.15.0.txt
10:58:40.69 | INFO | Perseus DataFrame shape: (3526, 16)
10:58:40.70 | INFO | Data matrix shape: (11, 3526)
10:58:40.71 | SUCCESS | AnnData object created from Perseus file.

/opt/homebrew/Caskroom/mambaforge/base/envs/opendvp-sdata/lib/python3.11/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
/opt/homebrew/Caskroom/mambaforge/base/envs/opendvp-sdata/lib/python3.11/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [4]:
adata.shape

(11, 3526)

In [5]:
adata.obs.columns.tolist()

['Column Name',
 'Heart_Condition',
 'Ischemia_region',
 'Sample_type',
 'Replicate']

In [7]:
df = pd.read_csv("test_data/io/thresholds.csv")

In [8]:
df

   sample_id      marker_id   gate_value
0        991  mean_Vimentin   574.380913
1        991      mean_CD3e   350.000000
2        991     mean_panCK    50.000000
3        991       mean_CD8  1200.000000
4        991    mean_COL1A1  1320.000000
5        991      mean_CD20   800.000000
6        991      mean_CD68   271.581386
7        991      mean_Ki67    18.105061

In [9]:
df.dtypes

sample_id       int64
marker_id      object
gate_value    float64
dtype: object