In [10]:
#imports
import pandas as pd
import geopandas as gpd
import os
import time
import ast

# Scenario 1

In [23]:
#paths
path_to_geojson_1 = "../data/geojsons/20241010_1340_991.geojson"

In [40]:
gdf = gpd.read_file(path_to_geojson_1)
gdf.head()

,id,objectType,name,classification,geometry
0,7ce5e6bb-0bb1-4f0a-97e1-1151449968db,annotation,calib1,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (39509.5 37655.36)
1,0512d0d4-222b-41bb-b0ef-79a0b0ab21bf,annotation,calib2,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (41311.48 31575.46)
2,68a2f06e-dcae-4d3c-9ff6-ce2a319ab09f,annotation,calib3,"{ ""name"": ""calibpoints"", ""color"": [ 154, 19, 1...",POINT (48639.9 32960.71)
3,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44..."
4,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44..."

In [41]:
# Classification describes the QuPath class of the various annotations objects.
# We have to remove the Point annotations (seen as POINT in the geometry column)
    # print how many points
print(f"Found {len(gdf[gdf.geom_type == 'Point'])} points in geojson, these are now removed")
gdf = gdf[gdf.geom_type != 'Point']
gdf.reset_index(drop=True, inplace=True)

Found 5 points in geojson, these are now removed

In [43]:
# We have to extract the class name from the classification column
    #check if classification column is a string or dictionary
if isinstance(gdf['classification'][0], (str)):
    gdf['class'] = gdf['classification'].apply(lambda x: ast.literal_eval(x)['name'])
elif isinstance(gdf['classification'][0], (dict)):
    gdf['class'] = gdf['classification'].apply(lambda x: x['name'])

In [44]:
gdf.head()

,id,objectType,name,classification,geometry,class
0,4901bc90-bd70-412d-a441-0ff05dfa35a4,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44720 36407.5, 44719.55 36421.72, 44...",991_DI_1
1,677c08c8-1578-4d40-9004-56770e72c0ed,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44919 36928.5, 44918.55 36942.72, 44...",991_DI_1
2,31712a3a-4a0f-4304-b598-e418e29bcf57,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44226 36725.5, 44225.55 36739.72, 44...",991_DI_1
3,c49bf319-03ad-42e1-8aac-3a9cd916876b,annotation,None,"{ ""name"": ""991_DI_1"", ""color"": [ 165, 218, 209...","POLYGON ((44843 37430.5, 44842.55 37444.72, 44...",991_DI_1
4,a27e7237-df76-4e5b-8bbf-3fb57ab6c7c4,annotation,None,"{ ""name"": ""991_DI_2"", ""color"": [ 165, 12, 79 ] }","POLYGON ((47400 38154, 47399.6 38166.81, 47398...",991_DI_2

In [45]:
gdf['class'].value_counts()

class
991_In_3    41
991_In_1    20
991_In_2    20
991_DI_1     8
991_DI_2     8
991_DI_3     8
991_DP_1     8
991_DP_2     8
991_DP_3     8
Name: count, dtype: int64